<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <!-- Formulario de inicio de sesión -->
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Iniciar Sesión</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre de Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [type]="passwordType" [(ngModel)]="password"></ion-input>
              <ion-icon
                slot="end"
                [name]="passwordIcon"
                (click)="togglePasswordVisibility()"
                class="password-toggle-icon">
              </ion-icon>
            </ion-item>
            <ion-button expand="full" (click)="login()">Ingresar</ion-button>
            <ion-button expand="full" fill="outline" class="google-login-button button-inner">
              <ion-icon slot="start" src="../../assets/google-color-icon.svg"></ion-icon>
              Iniciar sesión
            </ion-button>
            <div class="ion-text-center">
              <a [routerLink]="['/register']">Registrarse</a>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
